
<header>
  <ul>
    <!-- Rutas de Navegacion -->
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<div class="clearfix"></div>

<section id="content">
    <!-- Ruta necesaria para poder navegar en los archivos del app.routing -->
    <router-outlet></router-outlet>

</section>
  
