.altoPrecio{
    color: gray;
    font-size: 18px;
}

.fondoRojo{
    background: red;
}

.subrayado{
    text-decoration: underline;
}

.active{
    border: 1px solid green;
    padding-left: 5px;
    padding-right: 5px;
}